/* iconfont */
@font-face {
  font-family: 'qxfont'; /* Project id 2594977 */
  src: url('//at.alicdn.com/t/font_2594977_qczo2s6nhs.woff2?t=1622963043114') format('woff2'),
    url('//at.alicdn.com/t/font_2594977_qczo2s6nhs.woff?t=1622963043114') format('woff'),
    url('//at.alicdn.com/t/font_2594977_qczo2s6nhs.ttf?t=1622963043114') format('truetype');
}

.qxfont {
  font-family: 'qxfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* page */
page {
  background: #f5f5f5;
}

/* box-sizing: border-box; */
text[class*='icon-'],
view[class*='icon-'],
div[class*='icon-'],
span[class*='icon-'],
button[class*='icon-'] {
  font-family: 'qxfont';
  font-size: inherit;
  font-style: normal;
}

div,
span,
view,
scroll-view,
swiper,
swiper-item,
movable-area,
movable-view,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox-group,
checkbox,
form,
input,
label,
picker,
picker-view,
radio-group,
radio,
slider,
switch,
textarea,
navigator,
functional-page-navigator,
image,
video,
camera,
live-player,
live-pusher,
map,
canvas,
open-data,
web-view,
ad {
  box-sizing: border-box;
}

.qx-kefu:before {
  content: '\e62a';
}

.qx-gengduo:before {
  content: '\e602';
}

.qx-daifukuan:before {
  content: '\e603';
}

.qx-daifahuo:before {
  content: '\e604';
}

.qx-bianji:before {
  content: '\e605';
}

.qx-chenggong:before {
  content: '\e606';
}

.qx-buxianshimima:before {
  content: '\e607';
}

.qx-huanhuo:before {
  content: '\e608';
}

.qx-fanhui:before {
  content: '\e609';
}

.qx-huiyuan:before {
  content: '\e60a';
}

.qx-daishouhuo:before {
  content: '\e60b';
}

.qx-dizhi:before {
  content: '\e60c';
}

.qx-quanbu:before {
  content: '\e60d';
}

.qx-guanbi:before {
  content: '\e60e';
}

.qx-hengpai:before {
  content: '\e60f';
}

.qx-shangcheng:before {
  content: '\e610';
}

.qx-shanchu:before {
  content: '\e611';
}

.qx-gouwuche:before {
  content: '\e612';
}

.qx-quanzi:before {
  content: '\e613';
}

.qx-dianzan:before {
  content: '\e614';
}

.qx-fuzhi:before {
  content: '\e615';
}

.qx-shibai:before {
  content: '\e616';
}

.qx-pinglun:before {
  content: '\e617';
}

.qx-shezhi:before {
  content: '\e618';
}

.qx-shouye:before {
  content: '\e619';
}

.qx-tuihuo:before {
  content: '\e61a';
}

.qx-tuikuan:before {
  content: '\e61b';
}

.qx-shupai:before {
  content: '\e61c';
}

.qx-xihuan:before {
  content: '\e61d';
}

.qx-wode:before {
  content: '\e61e';
}

.qx-shangchuantupian:before {
  content: '\e61f';
}

.qx-sousuo:before {
  content: '\e620';
}

.qx-tianjia:before {
  content: '\e621';
}

.qx-tixian:before {
  content: '\e622';
}

.qx-tuandui:before {
  content: '\e623';
}

.qx-xuanze:before {
  content: '\e624';
}

.qx-yiwancheng:before {
  content: '\e625';
}

.qx-erweima:before {
  content: '\e626';
}

.qx-zhangdan:before {
  content: '\e627';
}

.qx-xianshimima:before {
  content: '\e628';
}

.qx-fenxiang:before {
  content: '\e629';
}
