$u-type-primary: #f5222d;
$u-type-primary-light: #00b2b622;
$u-type-primary-disabled: #00b2b688;
$u-type-primary-dark: #00b2b6;

$u-primary: #f5222d;
.h-page {
  height: 100vh;
}
.h-full {
  height: 100%;
}
.h-b {
  height: 88rpx;
}
.h-b-lg {
  height: 104px;
}
.h-1 {
  height: 1rpx;
}
.h-8 {
  height: 8rpx;
}
.h-16 {
  height: 16rpx;
}
.h-52 {
  height: 50rpx;
}
.w-full {
  width: 100%;
}
.w-52 {
  width: 50rpx;
}
.block-center {
  margin: 0 auto;
}
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: #f5222d;
}

.text-price {
  color: #ca0007;
}
.text-primary {
  color: #f5222d;
}

.text-white {
  color: #ffffff;
}
.text-gray {
  color: #9b9b9b;
}
.text-black-38 {
  color: #383838;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.rounded {
  border-radius: 16rpx;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.place-items-center {
  place-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.text-sm {
  font-size: $uni-font-size-sm;
}
.text-base {
  font-size: $uni-font-size-base;
}
.text-lg {
  font-size: $uni-font-size-lg;
}
.text-xl {
  font-size: 36rpx;
}
.bolder {
  font-weight: bolder;
}
.m-24 {
  margin: 24rpx;
}
.mx-8 {
  margin-left: 8rpx;
  margin-right: 8rpx;
}
.mx-32 {
  margin-left: 32rpx;
  margin-right: 32rpx;
}
.mx-40 {
  margin-left: 40rpx;
  margin-right: 40rpx;
}
.my-40 {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}
.mt-4 {
  margin-top: 4rpx;
}
.mt-8 {
  margin-top: 8rpx;
}
.mt-40 {
  margin-top: 40rpx;
}
.mt-64 {
  margin-top: 64rpx;
}
.mb-16 {
  margin-bottom: 16rpx;
}
.m-20 {
  margin: 20rpx;
}
.ml-16 {
  margin-left: 16rpx;
}
.ml-8 {
  margin-left: 8rpx;
}
.ml-4 {
  margin-left: 4rpx;
}
.py-16 {
  padding-top: 16rpx;
  padding-bottom: 16rpx;
}
.px-16 {
  padding-left: 16rpx;
  padding-right: 16rpx;
}
.px-32 {
  padding-left: 32rpx;
  padding-right: 32rpx;
}
.p-32 {
  padding: 32rpx;
}
.pt-64 {
  padding-top: 64rpx;
}
.pr-16 {
  padding-right: 16rpx;
}

.lineh-full {
  line-height: 100%;
}

.overflow-scroll {
  overflow: scroll;
}
