.overflow-scroll {
  overflow: scroll;
}
.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.block-center {
  margin: 0 auto;
}

.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: #f5222d;
}

.rounded-full {
  border-radius: 9999rpx;
}
.rounded {
  border-radius: 16rpx;
}
.rounded-sm {
  border-radius: 8rpx;
}

.bt-1 {
  border-top: solid 1px #f0f0f0;
}

.bb-1 {
  border-bottom: solid 1px #f0f0f0;
}
