.overflow-scroll {
  overflow: scroll;
}
.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.block-center {
  margin: 0 auto;
}

.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: $uni-color-primary;
}
.bg-f0 {
  background-color: #f0f0f0;
}

.rounded-full {
  border-radius: 9999rpx;
}
.rounded {
  border-radius: 16rpx;
}
.rounded-sm {
  border-radius: 8rpx;
}

.bt-1 {
  border-top: solid 1px #f0f0f0;
}

.bb-1 {
  border-bottom: solid 1px #f0f0f0;
}

.bl-1 {
  border-left: solid 1px #f0f0f0;
}

.br-1 {
  border-right: solid 1px #f0f0f0;
}

.b-1 {
  border: solid 1px #f0f0f0;
}

.z-100 {
  z-index: 100;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
