/* size */
.text-xs {
  font-size: 20rpx;
}
.text-sm {
  font-size: $uni-font-size-sm;
}
.text-base {
  font-size: $uni-font-size-base;
}
.text-lg {
  font-size: $uni-font-size-lg;
}
.text-xl {
  font-size: 36rpx;
}
.text-xxl {
  font-size: 64rpx;
}
/* weight */
.bolder,
.text-bold {
  font-weight: bolder;
}

/* color */
.text-price {
  color: #ca0007;
}
.text-vip {
  color: #eedd00;
  text-shadow: 1rpx 1rpx #423e00;
}
.text-primary {
  color: $uni-color-primary;
}
.text-white {
  color: #ffffff;
}
.text-gray {
  color: #9b9b9b;
}
.text-black-38 {
  color: #383838;
}
.text-black-1b {
  color: #1b1b1b;
}
/* align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* line height */
.lineh-full {
  line-height: 100%;
}
.lineh-0 {
  line-height: 0;
}

.lineh-150p {
  line-height: 1.5;
}
.lineh-180p {
  line-height: 1.8;
}
.lineh-200p {
  line-height: 2;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: line-through;
}
