/* size */
.text-sm {
  font-size: $uni-font-size-sm;
}
.text-base {
  font-size: $uni-font-size-base;
}
.text-lg {
  font-size: $uni-font-size-lg;
}
.text-xl {
  font-size: 36rpx;
}
/* weight */
.bolder,
.text-bold {
  font-weight: bolder;
}

/* color */
.text-price {
  color: #ca0007;
}
.text-primary {
  color: #f5222d;
}
.text-white {
  color: #ffffff;
}
.text-gray {
  color: #9b9b9b;
}
.text-black-38 {
  color: #383838;
}
.text-black-1b {
  color: #1b1b1b;
}
/* align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* line height */
.lineh-full {
  line-height: 100%;
}
.lineh-0 {
  line-height: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
